@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Custom utility classes */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}